{include="composant/head"}
<link rel="stylesheet" type="text/css" href="../../css/cv.css">
<div class="body">
	<table>
		<tr>
			<td>Profile</td>
			<td>
				Loïc Tolvai
				<br>19/01/1989
				<br>Driving license
				<br>4 rue vauban 68100 MULHOUSE (FRANCE)
				<br>ltolvai[at]gmail[point]com
			</td>
		</tr>
		<tr>
			<td>Education</td>
			<td>
				<div class="information" data-detail="detail_dut">+ DUT Informatique (2009)</div>
				<div class="information" data-detail="detail_bac">+ BAC STI Electronique (2007)</div>
			</td>
		</tr>
		<tr>
			<td>Experience</td>
			<td>
				<div class="information" data-detail="detail_symaris">+ Webobject developer (since 2010)</div>
				<div class="information" data-detail="detail_karedess">+ PHP developer (2009)</div>
				<div class="information" data-detail="detail_critt">+ PHP developer (2009)</div>
			</td>
		</tr>
		<tr>
			<td>Skills</td>
			<td>
				<p class="categorie_competence">Languages</p>
				<p class="competence" data-niveau="4">PHP</p>
				<p class="competence" data-niveau="4">Java</p>
				<p class="competence" data-niveau="4">HTML</p>
				<p class="competence" data-niveau="4">Javascript</p>
				<p class="competence" data-niveau="4">CSS</p>
				<p class="competence" data-niveau="2">Shellscript</p>
				<p class="competence" data-niveau="1">C++</p>
				<p class="categorie_competence">Database</p>
				<p class="competence" data-niveau="3">Oracle</p>
				<p class="competence" data-niveau="3">MySQL</p>
				<p class="competence" data-niveau="2">SQLite</p>
				<p class="categorie_competence">Operating System</p>
				<p class="competence" data-niveau="4">Windows</p>
				<p class="competence" data-niveau="4">Mac OSX</p>
				<p class="competence" data-niveau="3">Linux</p>
				<p class="categorie_competence">Development tools</p>
				<p class="competence" data-niveau="4">Eclipse</p>
				<p class="competence" data-niveau="2">NetBeans</p>
				<p class="competence" data-niveau="2">Sublime Text</p>
			</td>
		</tr>
	</table>
</div>
<div id="detail_dut" class="detail">
	<p>University degree from the University Robert Schuman Illkirch-Graffenstaden in 2009.</p>
</div>
<div id="detail_bac" class="detail">
	<p>Baccalaureate degree at the Lycée Louis Armand Mulhouse in 2007.</p>
</div>
<div id="detail_symaris" class="detail">
	<table>
		<tr>
			<td>Company : </td>
			<td><a href="http://www.symaris.com">GIP Symaris</a></td>
		</tr>
		<tr>
			<td>Place : </td>
			<td>Rouffach (France)</td>
		</tr>
		<tr>
			<td>Languages : </td>
			<td>Java, Javascript(JQuery), HTML, CSS</td>
		</tr>
		<tr>
			<td>Other technical information : </td>
			<td>MacOS, Oracle</td>
		</tr>
	</table>
	<p>
		<p>I am a developer for three years for this software company specializing in software for psychiatric hospitals.</p>
		<p>The language used is the WebObjects (J2EE Framework by Next (Apple) based on Java, HTML, JavaScript and CSS).</p>
		<p>I first worked on the development of the software and then I went to the development of interoperability part to allow communication with the billing system.</p>
		<p>This position allows me to see all aspects of a software because I care for this part of the analysis, development, installation, training and maintenance.</p>
	</p>
</div>
<div id="detail_karedess" class="detail">
	<table>
		<tr>
			<td>Company : </td>
			<td><a href="http://www.karedess.fr">Karedess</a></td>
		</tr>
		<tr>
			<td>Place : </td>
			<td>Mulhouse (France)</td>
		</tr>
		<tr>
			<td>Languages : </td>
			<td>PHP, Javascript(JQuery), HTML, CSS</td>
		</tr>
		<tr>
			<td>Other technical information : </td>
			<td>MacOS, MySql</td>
		</tr>
	</table>
	<p>
		<p>During this one-month internship I had a mission to create an intranet for managing contacts, manage a catalog of offerings, develop quotes and invoices, create and send newsletters, manage commissions and fees of mileage commercial.</p>
		<p>This internship allowed me to design, create and manage a project from A to Z with all the real constraints can have a professional (complex functionality, delivery of the project, ...).</p>
	</p>
</div>
<div id="detail_critt" class="detail">
	<table>
		<tr>
			<td>Company : </td>
			<td><a href="http://www.critt.fr/">Critt Mat&eacute;riaux Alsace</a></td>
		</tr>
		<tr>
			<td>Place : </td>
			<td>Schiltigheim (France)</td>
		</tr>
		<tr>
			<td>Languages : </td>
			<td>PHP, Javascript, HTML, CSS</td>
		</tr>
		<tr>
			<td>Other technical information : </td>
			<td>Linux, MySql</td>
		</tr>
	</table>
	<p>
		<p>I made this 3-month internship and a half under my DUT. My task was to redesign the intranet at both the data model from the view.</p>
		<p>This internship allowed me to confront the theory that I had to learn and practice that is sometimes short of the good practices that I had been taught.</p>
		It taught me to compromise between a clean but inadequate or too long code and a code without structure or efficient but difficult to maintain.
	</p>
</div>
<script type="text/javascript">
	var pos_foot = -50;
</script>
<script type="text/javascript" src="../../js/cv.js"></script>
{include="composant/foot"}