{include="composant/head"}
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<div class="body">
	Welcome to walot.fr,
	<p>
		This site is that of a developer who is passionate about his job and wants to make a small place on the web.
		You will find on this site my personal projects (to flatter my ego), my resume (for the fans ;-) ), a nice link to my wiki by DokuWiki and a link to my shaarli (link sharing application created by the talented <a href="http://sebsauvage.net">Sebsauvage</a>).

	</p>
	<p>
		Do not hesitate to contact me for comments on this website, recruit me (we can dream) or <span class="barre">congratulate</span> advise me on this <span class="barre">wonderful</span> site.
	</p>
</div>
<script type="text/javascript">
	var pos_foot = 120;
</script>
{include="composant/foot"}