{include="composant/head"}
<link rel="stylesheet" type="text/css" href="../../css/projet.css">
<div class="body">
	<div id="menu_projet"  class="section section_3">
		<ul>
			<li data-href="tension">@Tension</li>
			<li data-href="cupcake">LittleCupCake</li>
			<li data-href="gestion">G&euro;stion</li>
		</ul>
	</div>
	<div class="description section section_3" id="tension">
		<table>
			<tr>
				<td>
					Name :
				</td>
				<td>
					<a href="http://tension.walot.fr">@Tension (2009)</a>
				</td>
			</tr>
			<tr>
				<td>
					Languages used :
				</td>
				<td>
					PHP, HTML, Javascript(JQuery), CSS, MySQL
				</td>
			</tr>
			<tr>
				<td>
					Description :
				</td>
				<td>			
					This application allows you to enter the systolic, diastolic and blood pressure as well as the drive to perform daily tracking.<br>
					In addition to this monitoring, it is possible to make monthly and annual statistics and export to PDF.
					<p>
						This project was inspired by people around me having health problems.
						The main interest of this application is to keep track of the steps taken using a sphygmomanometer and facilitate possible follow a doctor.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					Result :
				</td>
				<td>
					This project allowed me to use a javascript library for graphics (JQPlot) and a bookseller PDF creation with PHP (FPFD).<br>
					This web application could be largely improved.
				</td>
			</tr>
		</table>
	</div>
	<div class="description section section_3" id="cupcake">
		<table>
			<tr>
				<td>
					Name :
				</td>
				<td>
					<a href="http://littlecupcake.walot.fr">LittleCupCake (2012)</a>
				</td>
			</tr>
			<tr>
				<td>
					Languages used :
				</td>
				<td>
					PHP, HTML, Javascript(JQuery), CSS, MySQL.
				</td>
			</tr>
			<tr>
				<td>
					Description :
				</td>
				<td>
					This project is my first website "graphic", it is a site pretty basic recipe consists only of recipe page with the ability to record the recipe and leave a comment.
				</td>
			</tr>
			<tr>
				<td>
					Result :
				</td>
				<td>
					This project has allowed me to discover the joys of integrating a web from a model site.
					<p>
						Even if the design is not me, it would seriously reconsider.<br>
						Building pages and loading site design are also points to be reviewed.
					</p>
				</td>
			</tr>
		</table>
	</div>
	<div class="description section section_3" id="gestion">
		<table>
			<tr>
				<td>
					Name :
				</td>
				<td>
					G&euro;stion (2013)
				</td>
			</tr>
			<tr>
				<td>
					Languages used :
				</td>
				<td>
					PHP, HTML, Javascript, CSS, SQLite.
				</td>
			</tr>
			<tr>
				<td>
					Description :
				</td>
				<td>
					This project is a personal initiative and especially my incompetence in managing my money.<br>
					This application aims to allow the seizure of expenditure and income grouped by category and bank account.<br>
					A system for calculating periodic expense facilitates monitoring.<br>
					Adds to it a statistical module to see the end of the month found is probably due to 14 pizza parties held this month.
				</td>
			</tr>
			<tr>
				<td>
					Result :
				</td>
				<td>
					This project is still being improved even if the largest is already operational.
					<p>
						This project has allowed me to discover SQLite and alternatives to JQuery for this project contains the least possible external ressources.
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
	var pos_foot = 50;
</script>
<script type="text/javascript" src="../../js/projet.js"></script>
{include="composant/foot"}