<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>{$title}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../../css/commun.css">
		<link rel="stylesheet" type="text/css" href="../../css/menu.css">
		<script type="text/javascript" src="../../js/dialogue.js"></script>
		<script type="text/javascript" src="../../js/formulaire.js"></script>
		<script type="text/javascript" src="../../lib/js/ajax.js"></script>
	</head>
	<body>
		<div id="main">
			<div id="lang">
				<span class="span_lang">FR</span> | <span class="span_lang">EN</span>
			</div>
			<div id="titre">
				Walot
			</div>
			<div id="menu">
				<ul>
					<li><a href="./index.php">Presentation</a></li>
					<li><a href="./cv.php">CV</a></li>
					<li><a href="./projet.php">Projets</a></li>
					<li><a href="http://links.walot.fr">Shaarli</a></li>
					<li><a href="http://wiki.walot.fr">Wiki</a></li>
				</ul>
			</div>