<div id="div_contact">
	<table>
		<tr>
			<td>
				Mail :
			</td>
			<td>
				<input type="text" id="txt_mail" name="txt_mail" data-type="mail" data-label="Votre adresse mail"/>
			</td>
		</tr>
		<tr>
			<td>
				Objet :
			</td>
			<td>
				<input type="text" id="txt_objet" name="txt_objet" data-type="string" data-label="L'objet"/>
			</td>
		</tr>
	</table>
	<textarea id="txt_message" name="txt_message" placeholder="Le message..." data-type="string" data-label="Le message"></textarea>
	<button id="btn_annuler" class="btn_gris">Annuler</button>
	<button id="btn_envoyer">Envoyer</button>
</div>