{include="composant/head"}
<link rel="stylesheet" type="text/css" href="../../css/cv.css">
<div class="body">
	<table id="tab_cv">
		<tr>
			<td>
				Profil
			</td>
			<td>
				Loïc Tolvai
				<br>19/01/1989
				<br>Permis B
				<br>4 rue vauban 68100 MULHOUSE
				<br>ltolvai[at]gmail[point]com
			</td>
		</tr>
		<tr>
			<td>Formation</td>
			<td>
				<div class="information" data-detail="detail_dut">+ DUT Informatique (2009)</div>
				<div class="information" data-detail="detail_bac">+ BAC STI Electronique (2007)</div>
			</td>
		</tr>
		<tr>
			<td>Expérience</td>
			<td>
				<div class="information" data-detail="detail_symaris">+ D&eacute;veloppeur Webobject (depuis 2010)</div>
				<div class="information" data-detail="detail_karedess">+ Stage d&eacute;veloppeur PHP (2009)</div>
				<div class="information" data-detail="detail_critt">+ Stage d&eacute;veloppeur PHP (2009)</div>	
			</td>
		</tr>
		<tr>
			<td>Compétences</td>
			<td>
				<p class="categorie_competence">Langages</p>
				<p class="competence" data-niveau="4"> Java</p>
				<p class="competence" data-niveau="4"> PHP</p>				
				<p class="competence" data-niveau="4"> HTML</p>
				<p class="competence" data-niveau="4"> Javascript</p>
				<p class="competence" data-niveau="4"> CSS</p>
				<p class="competence" data-niveau="2"> Shellscript</p>
				<p class="competence" data-niveau="1"> C++</p>
				<p class="categorie_competence">Base de données</p>
				<p class="competence" data-niveau="3"> Oracle</p>
				<p class="competence" data-niveau="3"> MySQL</p>
				<p class="competence" data-niveau="2"> SQLite</p>
				<p class="categorie_competence">Système d'exploitation</p>
				<p class="competence" data-niveau="4"> Windows</p>
				<p class="competence" data-niveau="4"> Mac OSX</p>
				<p class="competence" data-niveau="3"> Linux</p>
				<p class="categorie_competence">Outils de développement</p>
				<p class="competence" data-niveau="4"> Eclipse</p>
				<p class="competence" data-niveau="2"> NetBeans</p>
				<p class="competence" data-niveau="2"> Sublime Text 2</p>
			</td>
		</tr>
		</table>
</div>
<div id="detail_dut" class="detail">
	<p>DUT obtenu &agrave; l'universit&eacute; Robert Schuman de Illkirch-Graffenstaden en 2009.</p>
</div>
<div id="detail_bac" class="detail">
	<p>BAC obtenu au lyc&eacute;e Louis Armand de Mulhouse en 2007.</p>
</div>
<div id="detail_symaris" class="detail">
	<table>
		<tr>
			<td>Soci&eacute;t&eacute; : </td>
			<td><a href="http://www.symaris.com">GIP Symaris</a></td>
		</tr>
		<tr>
			<td>Lieu : </td>
			<td>Rouffach (68)</td>
		</tr>
		<tr>
			<td>Langages : </td>
			<td>Java, Javascript(JQuery), HTML, CSS</td>
		</tr>
		<tr>
			<td>Autres informations techniques : </td>
			<td>MacOS, Oracle</td>
		</tr>
	</table>
	<p>
		<p>Je suis d&eacute;veloppeur depuis trois ans pour cet &eacute;diteur de logiciel sp&eacute;cialis&eacute; dans un prologiciel pour les h&ocirc;pitaux psychiatriques.</p>
		<p>Le langage utilis&eacute; est le WebObject ( framework J2EE d&eacute;velopp&eacute; par Next(Apple) ).</p>
		<p>J'ai d'abord travaill&eacute; sur le d&eacute;veloppement du prologiciel puis je suis pass&eacute; au d&eacute;veloppement de la partie interoperabilit&eacute; pour permettre la communication avec le syst&egrave;me de facturation.</p>
		<p>Ce poste me permet de voir tous les aspects d'un &eacute;diteur de logiciel car je m'occupe, pour cette partie, de l'analyse, du d&eacute;veloppement, de l'installation, de la formation et de la maintenance.</p>
	</p>
</div>
<div id="detail_karedess" class="detail">
	<table>
		<tr>
			<td>Soci&eacute;t&eacute; : </td>
			<td><a href="http://www.karedess.fr">Karedess</a></td>
		</tr>
		<tr>
			<td>Lieu : </td>
			<td>Mulhouse (68)</td>
		</tr>
		<tr>
			<td>Langages : </td>
			<td>PHP, Javascript(JQuery), HTML, CSS</td>
		</tr>
		<tr>
			<td>Autres informations techniques : </td>
			<td>MacOS, MySql</td>
		</tr>
	</table>
	<p>
		<p>Durant ce stage d'un mois j'avais pour mission de cr&eacute;er un intranet permettant de g&eacute;rer des contacts, g&eacute;rer un catalogue d'offres, concevoir des devis et des factures, cr&eacute;er et &eacute;mettre des newsletters, administrer les commissions et les frais kilom&eacute;triques des commerciaux.</p>
		<p>Ce stage m'a permis de concevoir, cr&eacute;er et g&eacute;rer un projet de A &agrave; Z avec toutes les contraintes r&eacute;elles que peut avoir un professionnel ( fonctionnalit&eacute;s complexes, d&eacute;lais de livraison du projet, ...).</p>
	</p>
</div>
<div id="detail_critt" class="detail">
	<table>
		<tr>
			<td>Soci&eacute;t&eacute; : </td>
			<td><a href="http://www.critt.fr/">Critt Mat&eacute;riaux Alsace</a></td>
		</tr>
		<tr>
			<td>Lieu : </td>
			<td>Schiltigheim (67)</td>
		</tr>
		<tr>
			<td>Langages : </td>
			<td>PHP, Javascript, HTML, CSS</td>
		</tr>
		<tr>
			<td>Autres informations techniques : </td>
			<td>Linux, MySql</td>
		</tr>
	</table>
	<p>
		<p>J'ai effectu&eacute; ce stage de 3 mois et demi dans le cadre de mon DUT. J'avais pour mission de refondre l'intranet tant au niveau du mod&egrave;le de donn&eacute;es que de la vue.</p>
		<p>Ce stage m'a permis de confronter la th&eacute;orie que je venais d'apprendre et la pratique qui est parfois loin de respecter les bons procédés que l'on m'avait enseigné.</p>
		Cela m'a appris &agrave; faire des compromis entre un code propre mais inadapt&eacute; ou trop long et un code sans structure ou difficilement maintenable mais performant.
	</p>
</div>
<script type="text/javascript">
	var pos_foot = -50;
</script>
<script type="text/javascript" src="../../js/cv.js"></script>
{include="composant/foot"}