{include="composant/head"}
<link rel="stylesheet" type="text/css" href="../../css/index.css">
<div class="body">
	Bienvenue sur walot.fr,
	<p>
		Ce site est celui d'un d&eacute;veloppeur qui est passionn&eacute; par son m&eacute;tier et qui veut se faire une toute petite place sur le web.<br>
		Vous retrouverez donc sur ce site mes projets persos (pour flatter mon &eacute;go), mon cv (avis aux amateurs ;-) ), un joli lien vers mon wiki de chez DokuWiki et un lien vers mon shaarli (application de partage de lien cr&eacute;&eacute; par le talentueux <a href="http://sebsauvage.net">Sebsauvage</a>).
	</p>
	<p>
		N'h&eacute;sitez pas &agrave; me contacter pour commenter ce site, me recruter (on peut r&ecirc;ver) ou encore me <span class="barre">f&eacute;liciter</span> donner des conseils sur ce 
		<span class="barre">magnifique</span> site.
	</p>
</div>
<script type="text/javascript">
	var pos_foot = 120;
</script>
{include="composant/foot"}