{include="composant/head"}
<link rel="stylesheet" type="text/css" href="../../css/projet.css">
<div class="body">
	<div id="menu_projet"  class="section section_3">
		<ul>
			<li data-href="tension">@Tension</li>
			<li data-href="cupcake">LittleCupCake</li>
			<li data-href="gestion">G&euro;stion</li>
		</ul>
	</div>
	<div class="description section section_3" id="tension">
		<table>
			<tr>
				<td>
					Nom :
				</td>
				<td>
					<a href="http://tension.walot.fr">@Tension (2009)</a>
				</td>
			</tr>
			<tr>
				<td>
					Langages utilis&eacute;s :
				</td>
				<td>
					PHP, HTML, Javascript(JQuery), CSS, MySQL
				</td>
			</tr>
			<tr>
				<td>
					Description :
				</td>
				<td>
					Cette application permet de saisir la tension systolique et diastolique ainsi que la pulsion afin d'effectuer un suivi journalier.<br>
					En plus de ce suivi, il est possible d'effectuer des statistiques mensuelles et annuelles ainsi que des exports en PDF.
					<p>
						Ce projet m'a &eacute;t&eacute; inspir&eacute; par des personnes de mon entourage ayant des probl&egrave;mes de tension.<br>
						Le principal int&ecirc;ret de cette application est de garder une trace des mesures prises &agrave; l'aide d'un tensiom&egrave;tre et de faciliter le suivi &eacute;ventuel d'un m&eacute;decin.
					</p>
				</td>
			</tr>
			<tr>
				<td>
					Bilan :
				</td>
				<td>
					Ce projet m'a permis d'utiliser une librairie javascript pour les graphiques (JQPlot) ainsi qu'une libraire de cr&eacute;ation de PDF en PHP (FPFD).<br>
					Cette application web pourrait largement &ecirc;tre am&eacute;lior&eacute;e.
				</td>
			</tr>
		</table>
	</div>
	<div class="description section section_3" id="cupcake">
		<table>
			<tr>
				<td>
					Nom :
				</td>
				<td>
					<a href="http://littlecupcake.walot.fr">LittleCupCake (2012)</a>
				</td>
			</tr>
			<tr>
				<td>
					Langages utilis&eacute;s :
				</td>
				<td>
					PHP, HTML, Javascript(JQuery), CSS, MySQL.
				</td>
			</tr>
			<tr>
				<td>
					Description :
				</td>
				<td>
					Ce projet est mon premier site web "graphique", il s'agit d'un site de recette de cuisine assez basique compos&eacute; uniquement de page de recette avec la possibilit&eacute; de noter la recette et d'y laisser un commentaire.
				</td>
			</tr>
			<tr>
				<td>
					Bilan :
				</td>
				<td>
					Ce projet m'a permis de d&eacute;couvrir les joies de l'int&eacute;gration d'un site web &agrave; partir d'une maquette.
					<p>
						M&ecirc;me si le design n'est pas de moi, il faudrait s&eacute;rieusement le revoir.</br>
						La construction des pages et le chargement de design du site sont aussi des points &agrave; revoir.
					</p>
				</td>
			</tr>
		</table>
	</div>
	<div class="description section section_3" id="gestion">
		<table>
			<tr>
				<td>
					Nom :
				</td>
				<td>
					G&euro;stion (2013)
				</td>
			</tr>
			<tr>
				<td>
					Langages utilis&eacute;s :
				</td>
				<td>
					PHP, HTML, Javascript, CSS, SQLite.
				</td>
			</tr>
			<tr>
				<td>
					Description :
				</td>
				<td>
					Ce projet vient d'une initiative personnelle et surtout de mon incomp&eacute;tence dans le gestion de mes finances.<br>
					Cette application a pour but de permettre la saisie de d&eacute;penses et revenus regroup&eacute;s en cat&eacute;gorie et en compte bancaire.<br>
					Un syst&eacute;me de calcul des d&eacute;pense p&eacute;riodiques permet de faciliter le suivi.<br>
					S'ajoute &agrave; ça un module de statistique afin de voir que le d&eacute;couvert en fin de mois est s&ucirc;rement d&ucirc; au 14 soir&eacute;es pizza organis&eacute;es ce mois-ci.
				</td>
			</tr>
			<tr>
				<td>
					Bilan :
				</td>
				<td>
					Ce projet est encore en cours d'am&eacute;lioration m&ecirc;me si le plus gros est d&eacute;j&agrave; op&eacute;rationnel.
					<p>
						Ce projet m'a permis de d&eacute;couvrir SQLite ainsi que les alternatives &agrave; JQuery car ce projet contient le moins de resssources externes que possible.
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
	var pos_foot = 50;
</script>
<script type="text/javascript" src="../../js/projet.js"></script>
{include="composant/foot"}